@model TaskA.Models.RolesView

@{
    ViewBag.Title = "Remove From Role";

}
<br />
<br />
<br />
<br />
<br />
<h2 class="title text-center">Remove From Role</h2>

<div>
    @ViewBag.Result
</div>

