
@{
    ViewBag.Title = "SendEmail";
}
<div align="center">

    <h2>Confirm Order Status</h2>

    <br /> <br />
    @if (ViewBag.Error != null)
    {
        @ViewBag.Error
    }

    <form method="post" action="SendEmail">
        <div class="container">
            <span class="form-control-static">
                Confirm Client Email Address:
            </span>
            <input class="form-control" type="text" name="receiver" /> <br /> <span class="form-control-static">
            <span class="form-control-static">
                Order Status:
            </span> 
            <input class="form-control" type="text" name="message" /> <br />
            <input class="btn btn-primary" type="submit" value="Confirm" />
        </div>
    </form>


</div>
